@import "tailwindcss";

section{

width: 100%;
height: 100vh;
@apply bg-slate-900 text-white px-4 py-2

}





@theme{
  --breakpoint-sm: 390px;
  --breakpoint-xl: 1920px;
  --breakpoint-lg: 1440px;


}
